{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">


	
		<!-- products -->
		<div id='produtos' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for produto in produtos %}
				<div class="card mx-auto mb-3" id={{produto.id}} style="width: 18rem;">
					{% if produto.imagem %}
						<img class="card-img-top" src="{{produto.imagem.url}}" alt="Card image cap">
					{% else %}
					<img class="card-img-top" src="https://icon-library.com/images/products-icon/products-icon-9.jpg" alt="Card image cap">				
					{% endif %}

					<div class="card-body">
						<p class="card-title">{{produto.nome}}</p>
						<p class="card-text"><b>{{produto.preco_unitario|currency}}</b></p>
					</div>

					<div class="card-footer p-0 no-gutters">

						<form action="/#{{product.id}}" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='produto' value='{{produto.id}}'>
							<input type="submit" class="float-right btn btn-success form-control nav-link"
							 value="Comprar">
							<a class="nav-link" href="/checkout" value="Comprar"><span class="sr-only">(current)</span></a>
						</form>

					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}